@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url(header.css);
@import url(about.css);
@import url(education.css);
@import url(hobbies.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
}

.main-container {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    margin: 0 auto;
    max-width: 97rem;
    padding: 0 1.5rem;
    overflow: hidden;
}


@keyframes revealX {
    from {
        transform: translateX(var(--axis));
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes revealY {
    from {
        transform: translateY(var(--axis));
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
  

@media only screen and (max-width: 500px) {

    .container {
        padding: 0 .5rem;
    }
}
